<header class="header">
  <div class="logo">
    <a routerLink="/main">Atelier Alliance</a>
  </div>

  <div class="routes-container">
    <div class="routes">
      <a routerLink="/services" routerLinkActive="btn-active" class="btn">Услуги</a>
      <a routerLink="/work" routerLinkActive="btn-active" class="btn">Работа</a>
      <a routerLink="/about-us" routerLinkActive="btn-active" class="btn">О нас</a>
      <a routerLink="/contacts" routerLinkActive="btn-active" class="btn">Контакты</a>
    </div>

    <a routerLink="/consult" class="btn btn-solid">Консультация</a>
  </div>

  <label class="hamburger-menu">
    <input type="checkbox" #burgerInput>
    <span></span>
    <span></span>
    <span></span>
  </label>
</header>
