<div class="banner">
  <div class="container">
    <div class="content">
      <p class="title">Ваш стиль, <br>наш приоритет</p>
      <p class="text">Добро пожаловать в мир реально быстрого и качественного пошива</p>
      <ContactButton/>
    </div>
  </div>

  <div class="background">
    <img src="background.png" alt="background">
  </div>
</div>

<div class="advantages">
  <app-title [text]="'Наш сервис'" [title]="'Мы делаем вещи, которые<br>становятся шедеврами'"/>

  <div class="container">
    <AdvantageCard
      title="Качество материалов"
      text="Мы заботимся о качестве наших услуг, поэтому используем только проверенные и материалы высокого качества."
      src="advants/img.png"
    />
    <AdvantageCard
      title="Современное оборудование"
      text="Наше ателье оснащается новым швейным оборудованием, что позволяет нам выполнять заказы быстро и безупречно."
      src="advants/img_1.png"
    />
    <AdvantageCard
      title="Широкий спектр услуг"
      text="Мы предлагаем разнообразные услуги, включая пошив одежды на заказ, ремонт и реставрацию вещей и многое другое."
      src="advants/img_2.png"
    />
  </div>

</div>
