<footer class="footer">
  <div class="logo main-div">
    <p class="logo-text">Atelier Alliance</p>
    <p class="working-hours">Мы работаем ежедневно с 9 до 21 часов.</p>
  </div>

  <div class="line"></div>

  <div class="routes main-div">
    <div class="flex-col gap-20">
      <a routerLink="/main" routerLinkActive="active-route">Главная страница</a>
      <a routerLink="/services" routerLinkActive="active-route">Услуги</a>
      <a routerLink="/work" routerLinkActive="active-route">Работа</a>
      <a routerLink="/about-us" routerLinkActive="active-route">О нас</a>
      <a routerLink="/contacts" routerLinkActive="active-route">Контакты</a>
    </div>
  </div>

  <div class="line"></div>

  <div class="contact main-div">
    <div class="flex-col just-space h-full">
      <div class="part">
        <p>Visit</p>
        <p>Москва, Ленинградское шоссе<br>58, стр. 53</p>
      </div>
      <div class="part">
        <p>Call</p>
        <p>+7 916 756 93 84</p>
      </div>
    </div>
  </div>
</footer>

<footer class="mobile-footer">
  <div class="content">
    <p class="logo-text">Atelier Alliance</p>
    <p>Мы работаем ежедневно с 9 до 21 часов.</p>
    <p>Visit</p>
    <p>Москва, Ленинградское шоссе<br>58, стр. 53</p>
    <p>Call</p>
    <p>+7 916 756 93 84</p>
  </div>
</footer>
